/* Fonts */
@font-face {
font-family: ProximaNovaSbold;
src: url("../Assets/Font/ProximaNova-Sbold.otf") format("opentype");
}
@font-face {
font-family: ProximaNovaReg;
src: url("../Assets/Font/ProximaNova-Reg.otf") format("opentype");
}
@font-face {
font-family: ProximaNovaLight;
src: url("../Assets/Font/ProximaNova-Light.otf") format("opentype");
}


h1 {
	color: #5e768e;
	text-transform: uppercase;
	font-family: ProximaNovaSbold, Comic Sans;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	word-spacing: 1px;
}

/* Top Bar */
div#top-bar {	
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #6198cf;
	background-color: #518dca;
}

div#top-bar-logo {
	width: 39px;
	height: 39px;
	position: absolute;
	left: 29px;
	background-image: url('../Assets/Sprites/Weebly-Logo.png');
	background-size: 100% 100%;
}

div#all-panes {
	float: left;
	width: 100%;
}

/* Left Pane */
div#left-pane {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 235px;
	height: calc(100%);
	margin-top: 1px;
	border-top: 1px solid #2c3e50;
	background: #2c3e50; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMyYzNlNTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjEyZjNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  #2c3e50 97%, #212f3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(97%,#2c3e50), color-stop(100%,#212f3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2c3e50 97%,#212f3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2c3e50 97%,#212f3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2c3e50 97%,#212f3d 100%); /* IE10+ */
	background: linear-gradient(to right,  #2c3e50 97%,#212f3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#212f3d',GradientType=1 ); /* IE6-8 */
}

/* Generic Left Pane Section */
div.editor-section {
	width: 100%;
	border-bottom: 2px solid #1a2733;
}

div.editor-section-title {
	width: 100%;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-family: ProximaNovaSbold, Comic Sans;
	font-size: 10pt;
	color: #9cb3ca;
	cursor: default;
	text-transform: uppercase;
	border-bottom: 2px solid #1a2733;
	background: #4f657b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiM0ZjY1N2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2M0ZDVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  #4f657b 97%, #3c4d5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(97%,#4f657b), color-stop(100%,#3c4d5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #4f657b 97%,#3c4d5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #4f657b 97%,#3c4d5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #4f657b 97%,#3c4d5e 100%); /* IE10+ */
	background: linear-gradient(to right,  #4f657b 97%,#3c4d5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f657b', endColorstr='#3c4d5e',GradientType=1 ); /* IE6-8 */
}

/* Specific Left Pane Sections */
div#templates-section {
	background-color: #2c3e50;
}

div#elements-section {
	background-color: #21313f;
}

div#settings-section {
	border-bottom: none;
}

/* Templates Section */
div#page-buttons {
	width: 171px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 22px;
}

div.page-button {
	width: 167px;
	height: 30px;
	background-color: #4f657b;
	border: 1px solid #607487;
	border-radius: 4px;
	margin-bottom: 10px;
	position: relative;
	-moz-box-shadow: 0px 2px #233240;
	-webkit-box-shadow: 0px 2px #233240;
	box-shadow: 0px 2px #233240;
}

div.page-button:hover {
	cursor: pointer;
}

div.page-button.canvas-visible {
	background-color: #518dca;
	border-color: #6399cf;
}

div.page-button.delete {
	background-color: #d86a65;
	border-color: #db7874;
}

/* Page template controls */
div.page-button-control {
	height: 14px;
	width: 14px;
	top: 8px;
	position: absolute;
	background-image: url('../Assets/Sprites/Add-Delete-Edit-Icons.png');
	background-repeat: no-repeat;
	display: none;
}

/* If the page button is hovered then the page button controls should be displayed */
div.page-button.hovered > div.page-button-control {
	display: block;
}

/* add */
div.page-button-control.add {
	left: 144px;
	background-position: -13px -51px;
	display: block;
}

/* If the add new page button is hovered, the add control should highlight */
div#add-new-page.hovered > div.page-button-control.add {
	background-position: -13px -13px;
}

/* If the add new page button is active, the add control should dehighlight */
div#add-new-page.active > div.page-button-control.add {
	background-position: -13px -51px;
}

/* If the add new page button is active, the add control should highlight on hover */
div#add-new-page.active > div.page-button-control.add:hover {
	background-position: -13px -13px;
}

/* delete */
div.page-button-control.delete {
	left: 144px;
	background-position: -54px -13px;
}

/* If the page-button has the delete and active states, the delete control should stay visible and white */
div.page-button.delete.active > div.page-button-control.delete {
	background-position: -54px -32px;
	display: block;
}

/* If the page-button has the edit and active states, the delete control should stay visible, but not dark */
div.page-button.edit.active > div.page-button-control.delete {
	display: block;
}

div.page-button-control.delete:hover {
	background-position: -54px -32px;
}

/* edit */
div.page-button-control.edit {
	left: 125px;
	background-position: -34px -13px;
}

/* If the page button has the edit and active states, the white control should stay visible and white */
div.page-button.edit.active > div.page-button-control.edit {
	background-position: -34px -32px;
	display: block;
}

/* If the page button as the delete and active states, the edit should not be visible */
div.page-button.delete.active > div.page-button-control.edit {
	display: none;
}

div.page-button-control.edit:hover {
	background-position: -34px -32px;
	
}

div#add-new-page {
	background-color: #2c3e50;
	border-color: #4f657b;
	border-width: 2px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* page template tab inputs */
.page-button input[type=text] {
	border: none;
	background: none;
	height: 30px;
	width: 106px;
	position: absolute;
	left: 14px;
	font-family: ProximaNovaReg, Comic Sans;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	color: #ffffff;
	cursor: pointer;
}

.page-button input[type=text]:focus {
	border: none
	background: none;
	outline: none;
	color: #fff;
	cursor: text;
}

/* Special styling for add-new-page placeholder */
#add-new-page ::-webkit-input-placeholder {
   color: #4f657b;
}
#add-new-page :-moz-placeholder { /* Firefox 18- */
   color: #4f657b;
}
#add-new-page ::-moz-placeholder {  /* Firefox 19+ */
   color: #4f657b; 
}
#add-new-page :-ms-input-placeholder {  
   color: #4f657b; 
}

/* Special styling for page button placeholder */
.page-button ::-webkit-input-placeholder {
   color: #96badf;
}
.page-button :-moz-placeholder { /* Firefox 18- */
   color: #96badf;
}
.page-button ::-moz-placeholder {  /* Firefox 19+ */
   color: #96badf; 
}
.page-button :-ms-input-placeholder {  
   color: #96badf; 
}

/* Elements Selection */
div.elements {
	width: 100%;
	height: 216px;
	position: relative;
	display: block;
	background-color: #21313f;
}

div.element-button {
	width: 117px;
	height: 107px;
	position: absolute;
	background-color: #34485c;
}

div.element-button:hover {
	background-color: #3c5065;
}

div.element-button.top {
	top: 0px;
}

div.element-button.bottom {
	top: 109px;
}

div.element-button.left {
	left: 0px;
}

div.element-button.right {
	width: 115px;
	left: 119px;
	border-left: 1px solid #3e5164;
	background: #34485c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiMzNDQ4NWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjgzNzQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  #34485c 93%, #283746 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(93%,#34485c), color-stop(100%,#283746)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #34485c 93%,#283746 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #34485c 93%,#283746 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #34485c 93%,#283746 100%); /* IE10+ */
	background: linear-gradient(to right,  #34485c 93%,#283746 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34485c', endColorstr='#283746',GradientType=1 ); /* IE6-8 */
}

div.element-button.right:hover {
	background: #3d5165; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiMzZDUxNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmYzZTRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  #3d5165 93%, #2f3e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(93%,#3d5165), color-stop(100%,#2f3e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #3d5165 93%,#2f3e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #3d5165 93%,#2f3e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #3d5165 93%,#2f3e4e 100%); /* IE10+ */
	background: linear-gradient(to right,  #3d5165 93%,#2f3e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5165', endColorstr='#2f3e4e',GradientType=1 ); /* IE6-8 */
}

div.element-button.bottom.left {
	height: 106px;
	border-top: 1px solid #3e5164;
}

div.element-button.bottom.right {
	height: 106px;
	border-top: 1px solid #3e5164;
}

a.element-icon {
	width: 52px;
	height: 56px;
	position: absolute;
	top: 20px;
	left: 32px;
	background-image: url('../Assets/Sprites/Element-Icons.png');
	background-repeat: no-repeat;
	cursor: all-scroll;
}

div.label {
	width: 100%;
	position: absolute;
	top: 83px;
	text-align: center;
}

div.label.bottom {
	top: 81px;
}

a.element-icon.right {
	left: 31px;
}

a.element-icon.bottom {
	top: 18px;
}

a#title-element {
	background-position: -9px -8px;
}

a#text-element {
	background-position: -63px -8px;
}

a#image-element {
	background-position: -117px -8px;
}

a#nav-element {
	background-position: -171px -8px;
}

a.element-icon:active {
	top: 16px;
	height: 54px;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 2px rgba(0,0,0,0.3);
	opacity: 0.7;
}

a.element-icon.bottom:active {
	top: 14px;
}

a.element-icon.ui-draggable-dragging:active {
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0.1);
	opacity: 1;
}

/* Settings Section */
div.settings {
	
}

div.setting {
	width: 100%;
	height: 54px;
	position: relative;
	border-bottom: 1px solid #374859;
}

div.setting > div.line {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0px;
	background-color: #21313f;
}

div.setting > div.label {
	width: auto;
	height: 54px;
	position: absolute;
	top: 0px;
	left: 32px;
	line-height: 54px;
	font-family: ProximaNovaSbold, Comic Sans;
	font-size: 10pt;
	color: #5e768e;
	cursor: default;
	text-transform: uppercase;
	letter-spacing: 0.4px
}

div#site-grid-slider {
	width: 50px;
	height: 21px;
	position: absolute;
	left: 153px;
	top: 15px;
	background-image: url('../Assets/Sprites/Toggle-Switch.png');
	background-position: -6px -7px;
}

div#site-grid-slider:hover {
	background-position: -6px -32px;
	cursor: pointer;
}

div#site-grid-slider.active {
	background-position: -6px -57px;
}